@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
}

:root{
    --bg-color: linear-gradient(to right,#3b2b21,#361e19,#232120);
    --snd-bg-color:#403026;
    --text-color:#fff;
    --main-color:#f48059;

}

html {
    font-size: 70%;
    overflow-x: hidden;
}
body{
    color: var(--text-color); 
    background: url(/GoodArtwork.svg),url(/GoodArtwork-red.svg),var(--bg-color); 
}
/*.cursor{
    z-index:999;
    position: fixed;
    background: #2696E8;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #2696E8,
                0 0 60px #2696E8,
                0 0 100px #2696E8;
    animation: colors 5s infinite;
    transform: translate(-50%, -50%);
    display: none;
}*/

@keyframes colors{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

/*.cursor:before{
    content: '';
    position: absolute;
    background: #2696E8;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
}*/
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.25rem 5%;
    background: var(--snd-bg-color);
    display: flex;
    justify-content: space-between;
    z-index: 100;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;

}
.navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
    transition: 1s ease-in-out;
}
.navbar a:hover,
.navbar a.active-C{
    color:var(--main-color);
    border-bottom: 2.5px solid rgb(243, 206, 203);
    transition: 0.5s ease-in-out;
}
.main{
    display: flex;
    justify-content:space-between;
    align-items:center;
    
}
.contact_form h2{
    font-size: 40px;
    color:#ededed;
    text-align: center;
    margin-bottom: 10px;
}
.contact_form form{
    width: 650px;
    text-align: center;
}
form .input-box{
    display: flex;
    justify-content: space-between;
}
.input-box .input-field{
    width: 48.5%;
}

.field .item{
    width:100%;
    padding: 18px;
    background: transparent;
    border:2px solid var(--main-color);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #ededed;
    margin: 12px 0;
}
.field .item::placeholder{
    color: rgba(255, 255, 255, .3);
}
.field .error-text{
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}
form .textarea-field .item{
    resize: none;
}
form button{
    padding: 12px 32px;
    background: var(--main-color);
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px var(--main-color);
    font-size: 16px;
    color: var(--snd-bg-color);
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 20px;
    transition: 0.5s;
}
form button:hover{
    box-shadow: none;
    transform: scale(1.1);
    z-index: 2;
    cursor: pointer;
}

.contact_information .information{
    width: 400px;
}

.contact_information .icon{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 25px;
    color: var(--main-color);

}
.contact_information p{
    font-size: 15px;
    letter-spacing: 1.25px;
}
.connect_text{
    font-size: 28px;
    margin-top: 2.5rem;
    color: #ededed;
}
.social_media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 0.7rem 1.5rem 3rem 0;
    transition: .5s ease;
}
.social_media a:hover{
    background-color: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

footer{
    text-align: center;
    color: #ededed;
    letter-spacing: 1.5px;
}